@charset "utf-8";

.container{
    //其他代码
    padding: 1em;

    >.content-area{
        margin:1em;
        .top{
            font-size: 2em;
            &::before{
                content:"";
                display: block;
            }
        }
        .mid{
            color:gray;
        }
    }

    .title-area{
        box-sizing: border-box;
    }
}